.album-component {
  border: 1px dotted lightgray;
  width: 20%;
  margin: .5%;
  padding: 1%;
  height: 300px;
  overflow: hidden;
}
.album-row {
  display: flex;
  justify-content: space-around;;
  align-items: center;
  flex-flow: wrap;
  align-self: center;
}

.album-row h6 {
  text-transform: uppercase;
  color: #DF5A49;
  letter-spacing: 2px;
  margin: 0;
  padding: 1%;
}

.album-row p {
  text-transform: uppercase;
  font-weight: 100;
  color: #DF5A49;
  letter-spacing: 2px;
  margin: 0;
  padding: 2%;
  font-size: .7em;
}

.album-image {
  width: 50%;
  height: 50%;
  margin: 2%;
  padding: 2%;
  border: 1px solid lightgray;
  transition: 1s ease;
}

.album-component:hover {
  border: none;
  margin: .5%;
  background-color: #DF5A49;
  transition: background-color .5s ease, height .5s ease;
}

.album-component:hover h6 {
  color: white;
  font-size: 1em;
  transition: color .5s ease, font-size .5s ease;
}

.album-component:hover p {
  color: white;
  transition: color .5s ease, font-size .5s ease;
}

.favs-button {
  color: white;
  border: 1px solid white;
  background-color: #DF5A49;
}

.favs-button:hover {
  color: #DF5A49;
  background-color: white;
}
