.App {
  text-align: center;
}

.nav-container {
  border: 2px solid orange;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 75px;
}

.input {
  width: 150px !important;
  margin: 1% !important;
}

.nav-item {
  width: 450px;
}
