.App {
  text-align: center;
}

.nav-container {
  background-color: #334D5C;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 75px;
}

.input {
  width: 150px !important;
  margin: 2% !important;
  background-color: white !important;
  height: 30px !important;;
}

form {
  width: 600px !important;
}

.search-button {
  border: 1px solid #EFC94C;
  color: white;
}

Link {
  background-color: none;
}

.search-button:hover {
  background-color: #EFC94C;
  color: #334D5C;
}

.team-button {
  border: 1px solid #EFC94C;
  color: white;
}

.team-button:hover {
  background-color: #EFC94C;
  color: #334D5C;
}

.nav-item h7 {
  color: white;
}

.buttonnnn {
  border: none !important;
  background-color: #334D5C !important;
  padding: 0 !important;
  margin: 0 !important;
}
