.video-component {
  border: 1px dotted lightgray;
  width: 70%;
  margin: 1%;
  height: 150px;
  overflow: hidden;
}

.video-component h6  {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: gray;
  padding: 1%;
}

.video-container {
  margin: 1%;
}
