.video-component {
  border: 1px dotted lightgray;
  width: 70%;
  margin: 1%;
  height: 150px;
  padding: 5%;
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-component h6  {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: gray;
  padding: 1%;
}

.video-container {
  width: 100%;
}

.video-component:hover {
  border: 1px dotted lightgray;
  height: 100%;
  transition: height .5s ease, background-color .5s ease;
}

.video-component:hover h6{
  display: none;
  transition: display .5s ease;
}
